<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
			height: 100vw;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		canvas {
			position: absolute;
		}


	</style>
	<script defer src="/js/face-api.min.js"></script>
	<script defer src="/js/script_detector.js"></script>
</head>
<body>
	<video id="video" width="720" height="560" autoplay muted></video>
</body>
</html>